/* RESET */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

/* FINE RESET */

.header{
    width: 100%;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.col{
    border: 1px solid black;
    height: 100px;
    text-align: center;
    margin: 10px;
}

.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

.col-100{
width: 100%;
}

.main-title{
    text-align: center;
    font-size: 48px;
}

.hero{
    background-color: aqua;
    padding: 20px;
}

.nav{
    margin-left: 10px;
    margin-right: 10px;
}